<button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate}" type="button" class="btn" (click)="showHideCreate()">Agregar calificación</button>
<div *ngIf="showCreate">
    <app-calificacion-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-calificacion-create>
</div>
    <div class="row">
        
    <div class="col-md-3">
        <table class="table table-striped">
            <thead class="table-info">
                <tr>
                    <th colspan="4">Calificaciones</th>
                </tr>
            </thead>
            <tbody>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Calificacion</th>
              
                <tr *ngFor="let calificacion of calificaciones">
                    <td style="cursor: pointer;">
                            <a class="figure-caption" [routerLink]="['/calificaciones/detail/', calificacion.id]"> {{calificacion.usuario}}</a>
                      </td>
                      <td style="cursor: pointer;">
                          <a class="figure-caption" [routerLink]="['/calificaciones/detail/', calificacion.id]"> {{calificacion.comentario}}</a>
                        </td>
                        <td style="cursor: pointer;">
                            <a class="figure-caption" [routerLink]="['/calificaciones/detail/', calificacion.id]"> {{calificacion.calificacion}}</a>
                          </td>
                       
                </tr>
            </tbody>
        </table>
    </div>

    
   

   

