<button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate}" type="button" class="btn" (click)="showHideCreate()">Crear Artista</button>
<div *ngIf="showCreate">
    <app-artista-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-artista-create>
</div>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Artistas
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let artista of artistas">
            <td style="cursor: pointer;">
                <a routerLink="/artistas/{{artista.id}}">
                    <dd>{{artista.nombre}}</dd>
                </a>
            </td>
        </tr>
    </tbody>
</table>
