<div class = "container-fluid">
  <div class="card">
    <h3 class ="card-header">Propuesta #{{id}}</h3>
    <div class="card-body">
      <br>
      <p>Estado:</p>
      <p><marquee>{{propuesta.estado}}</marquee></p>
      <br>
      <p>Precio:</p>
      <p>{{propuesta.precio}}</p>
      <br>
      <div *ngIf = "propuesta.factura; else noblock">
        <button class="btn btn-secondary" type="button" routerLink="/propuestas/{{propuesta.id}}/factura">Ver Factura</button>
      </div>  
      <ng-template #noblock>
        <button class="btn btn-secondary" type="button" routerLink="/propuestas/{{propuesta.id}}/factura/createF">Crear Factura</button>
      </ng-template>  
      <br>
      <br>
      <router-outlet></router-outlet>
    </div>     
  </div> 
</div>