

<div class="panel-body">
    <div class="border">
        
        <h3>{{cliente.nombre}}</h3>
        <dl>
                <dt>Id:</dt>
                <dd>{{cliente.id}}</dd>
            <dt>Nombre:</dt>
            <dd>{{cliente.nombre}}</dd>
            <dt>Información:</dt>
            <dd>{{cliente.informacion}}</dd>
            <dt>Usuario:</dt>
            <dd>{{cliente.usuario}}</dd>
            <dt>Contraseña:</dt>
            <dd>{{cliente.contrasenia}}</dd>

        </dl>
    </div>
</div>
<br>
<br>

<button [ngClass]="{'btn-primary': !showEdit, 'btn-danger': showEdit}" type="button" class="btn" (click)="showHideEdit()">Editar Cliente</button>
<div *ngIf="showEdit">
        <app-cliente-edit (cancel)="showHideEdit()" (create)="ngOnInit()"></app-cliente-edit>
</div>