<div class="text-center col-12">
        <button routerLink="/clientes/edit" class="btn btn-info">Editar Cliente</button>
    </div>

<div class="panel-body">
    <div class="border">
        
        <h3>{{cliente.nombre}}</h3>
        <dl>
                <dt>Id:</dt>
                <dd>{{cliente.id}}</dd>
            <dt>Nombre:</dt>
            <dd>{{cliente.nombre}}</dd>
            <dt>Información:</dt>
            <dd>{{cliente.informacion}}</dd>
            <dt>Usuario:</dt>
            <dd>{{cliente.usuario}}</dd>
            <dt>Contraseña:</dt>
            <dd>{{cliente.contrasenia}}</dd>

        </dl>
    </div>
</div>
<h4>Propuestas: </h4>
<app-propuesta-list [propuestas]="clienteDetail.propuestas"></app-propuesta-list>

