<div class="text-center col-12">
        <button [ngClass]="{'btn-primary': !showEdit, 'btn-outline-dark': showEdit}" type="button" class="btn" (click)="showHideEdit()" >Editar Cliente</button>
        <div *ngIf="showEdit">
            <app-cliente-edit (cancel)="showHideEdit()" (create)="ngOnInit()"></app-cliente-edit>
        </div>
    </div>

<div class="panel-body">
    <div class="border">
        
        <h4 class="text-center col-12" >{{cliente.nombre}}</h4>
        <dl>
                <article>
                        <p><b>Id:</b> {{cliente.id}}</p>
                
                        <p><b>Nombre:</b> {{cliente.nombre}}</p>
                        <p><b>Información:</b> {{cliente.informacion}}</p>
                        <p><b>Usuario:</b> {{cliente.usuario}}</p>
                       
                        <p><b>Contraseña:</b> {{cliente.contrasenia}}</p>
        </article>
        </dl>
    
        <h6 class="text-left mt-4">Propuestas de este cliente: </h6>
<app-propuesta-list [propuestas]="clienteDetail.propuestas"></app-propuesta-list>
</div>
</div>