<div class="row mt-4">
        <h4 class="col-1">Votaciones</h4>
    <button type="button" class="btn btn-success offset-8"
            routerLink="rondas/create"
            routerLinkActive="active">Add Votacion
    </button>
        <div class="col-12 mt-4">
            <table class="table table-striped">
                <thead class="table table-dark">
                <tr>
                    <th>ID</th>
                    <th>ID ANIMACION</th>
                    <th>PUNTOS</th>
                    <th>RONDA</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let i of votaciones">
                    <td>
                        <p class="figure-caption"> {{i.id}}</p>
                    </td>
                    <td>
                        <a class="figure-caption">{{i.idAnimacion}}</a>
                    </td>
                    <td>
                        <p class="figure-caption"> {{i.puntos}}</p>
                    </td>
                    <td>
                        <p class="figure-caption"> {{i.idRonda}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>