<div class="row">
    <br>
    <h2 class="text-cennter">Agregar Animacion</h2>
    <br>
    <form name="animacion" (ngSubmit)="f.form.valid && createAnimacion()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="aninmaiconNombre"><b>Nombre</b></label>
        </div>
        <div class="form-group">
            <label for="animacionPrecio"><b>Precio</b></label>
        </div>
        <div class="form-group">
            <label for="animacionLink"<b>Link</b></label>
        </div>
        <div class="form-group">
            <label for="animacionArtista"><b>Artista</b></label>
        </div>
        <div class="form-group">
            <label for="animacionFecha"><b>Fecha</b></label>
        </div>
        <br>
        <div class="row form-inline">
            <button type="submit" class="btn">Create</button>
            <div class="divider"></div>
            <button type="button" class="btn" (click)="cancelCreation()">Cancel</button>
        </div>
    </form>
</div> 
