<button [ngClass]="{'btn-primary': !showEdit, 'btn-danger': showEdit}" type="button" class="btn" (click)="showHideEdit()" *ngxPermissionsOnly="['ADMIN', 'ARTISTA']">Editar Artista</button>
<div *ngIf="showEdit">
<app-artista-edit (cancel)="showHideEdit()" (create)="ngOnInit()"></app-artista-edit>
</div>
<br>
<br>
<div class="panel-body">
    <div class="border">
        <h3>{{artistaDetail.nombre}}</h3>
        <dl>
            <dt>Usuario</dt>
            <dd>{{artistaDetail.usuario}}</dd>
            <dt>Tecnica</dt>
            <dd>{{artistaDetail.tecnica}}</dd>
        </dl>
    </div>
    <h3>Animaciones de este artista: </h3>
    <app-animacion-list [animaciones]="artistaDetail.animaciones"></app-animacion-list>
</div>
