<button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate}" type="button" class="btn" (click)="showHideCreate()">Crear Animacion</button>
<div *ngIf="showCreate">
    <app-animacion-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-animacion-create>
</div>
<br>
<br>
<table class="table">
 <thead>
    <tr>
        <th>
            Animaciones
        </th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let animacion of animaciones">
        <td style="cursor: pointer;">
            <a routerLink="/animaciones/{{animacion.id}}"><dd>{{animacion.nombre}}</dd></a>
        </td>
    </tr>
 </tbody>
</table>
