<button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate}" type="button" class="btn" (click)="showHideCreate()" *ngxPermissionsOnly="['ARTISTA']">Crear Animacion</button>
<div *ngIf="showCreate">
    <app-animacion-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-animacion-create>
</div>
<br>
<br>
<div class="galeria">
     <div class="cuadro" *ngFor="let animacion of animaciones">
         <a routerLink="/animaciones/{{animacion.id}}"><dd>{{animacion.nombre}}</dd></a>
    </div>
</div>
