<div class="container-fluid col-12 row">
        <div class="row">
            <div class="col"></div>
        <div class="col-md-3">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="3">Clientes</th>
                    </tr>
                </thead>
                <tbody>
                    <th>Nombre</th>

                    <tr *ngFor="let cliente of clientes">
                        <td style="cursor: pointer;">
                                <a class="figure-caption" [routerLink]="['/clientes/detail/', cliente.id]"> {{cliente.nombre}}</a>
                          </td>

                    </tr>
                </tbody>
            </table>
        </div>
    <br>
    <br>
    <div class="col">
            <button routerLink="/clientes/create" class="btn btn-info">Agregar Cliente</button>
        </div>
