<div class="container-fluid col-12 row mt-4">
        <h4 class="text-left col-2">Clientes</h4>
        <button [ngClass]="{'btn-primary': !showCreate, ' btn-outline-dark': showCreate}" type="button" class="btn offset-8" (click)="showHideCreate()">Crear Cliente</button>
        <div class="col-10 row container-fluid" *ngIf="showCreate">
                <app-cliente-create class="col-12 row container-fluid" (cancel)="showHideCreate()" (create)="ngOnInit()"></app-cliente-create>
            </div>
      
        <div class="row col-12 mt-2">
           
      
            <table class="table table-striped">
                <thead class="thead">
                        <th>Nombre</th>
                        <th>Usuario</th>
                </thead>
                <tbody>
                   

                    <tr *ngFor="let cliente of clientes">
                        <td style="cursor: pointer;">
                                <a class="figure-caption" [routerLink]="['/clientes/detail/', cliente.id]"> {{cliente.nombre}}</a>
                          </td>
                          <td style="cursor: pointer;">
                                <a class="figure-caption" [routerLink]="['/clientes/detail/', cliente.id]"> {{cliente.usuario}}</a>
                          </td>

                    </tr>
                </tbody>
            </table>
        
    <br>
    <br>

