<div class = "container-fluid col-12 row">
  <div class="card text-white bg-secondary mb-3" style="width: 100%">
  <div class="card-header">Crear Factura</div>
  <div class="card-body">
    <form name="factura" (ngSubmit)="f.form.valid && crearFactura()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="idAnim"><b>ID de la Animación</b></label>
        <input type="number" name="idAnim" class="form-control" id="idAnim" [(ngModel)]="factura.idAnim"             #idAnim="ngModel" [ngClass]="{ 'is-invalid': f.submitted && idAnim.invalid }" required>
        <div class="invalid-feedback">
          <div>Falta la animación</div>
        </div>
      </div>
      <div class="row form-inline justify-content-center align-self-center">
          <button type="submit" class="btn btn-dark">Crear</button>                    
          <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">Cancelar</button>
      </div>
    </form> 
  </div>
  </div>
</div> 