ul {
     
  width: 100%;
  background-color: #f1f1f1;
  height: 100%; 
  overflow: auto; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #b6dbf2;
  color: #313a87;
}

li a:active{
    background-color: #bbbbbb;
  color: #313a87;
}

.container-fluid {
    height: 100%;
    bottom: 0px;
}

#col-navV {
    background-color: #313a87;
    width: 15%
}

#footerDiv {
    position: fixed;
    left: 0;
    bottom: 0;
}
