<div class="row col-12">
    <br>
    <h5 class="col-12 my-4 text-center">Crear</h5>
    <br>
    <form class="col-12 row" name="artista" (ngSubmit)="f.form.valid && createArtista()" #f="ngForm" novalidate>
        <div class="form-group col-md-6 col-xs-12">
            <label for="artistaNombre"><b>Nombre</b></label>
            <input type="text" name="artistaNombre" class="form-control" id="artistaNombre" [(ngModel)]="artista.nombre" #artistaNombre="ngModel" [ngClass]="{'is-invalid': f.submitted && nombre.invalid}" required>
            <div class="invalid-feedback">
                <p>Falta el nombre del artista</p>
            </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
            <label for="artistaUsusario"><b>Usuario</b></label>
            <input type="text" name="artistaUsuario" class="form-control" id="artistaNombre" [(ngModel)]="artista.usuario" #artistaUsusario="ngModel" [ngClass]="{'is-invalid': f.submitted && artistaNombre.invalid}" required>
            <div class="invalid-feedback">
                <p>Falta el usuario</p>
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label for="artistaConstrasenia"><b>Contrasenia</b></label>
            <input type="text" name="artistaContrasenia" class="form-control" id="artistaConntrasenia" [(ngModel)]="artista.contrasenia" #artistaContrasenia="ngModel" [ngClass]="{'is-invalid': f.submitted && artistaConntrasenia.invalid}" required>
            <div class="invalid-feedback">
                <p>Falta la contrasenia</p>
            </div>
        </div>
        <div class="col-12 row justify-content-center my-3">
            <button type="submit" class="btn btn-primary col-md-2">Create</button>
            <button type="button" class="btn btn-outline-dark col-md-2 ml-4" (click)="cancelCreation()">Cancel</button>
        </div>
    </form>
</div>
