<button [ngClass]="{'btn-primary': !showEdit, 'btn-danger': showEdit}" type="button" class="btn" (click)="showHideEdit()">Editar Animacion</button>
<div *ngIf="showEdit">
    <app-animacion-edit (cancel)="showHideEdit()" (create)="ngOnInit()"></app-animacion-edit>
</div>
<br>
<br>
<div class="panel-body">
    <div class="border">
        <h3>{{animacionDetail.nombre}}</h3>
        <dl>
            <dt>Descripcion</dt>
            <dd>{{animacionDetail.descripcionn}}</dd>
            <dt>Precio</dt>
            <dd>{{animacionDetail.precio}}</dd>
            <dt>Tecnica</dt>
            <dd>{{animacionDetail.tecnica}}</dd>
            <dt>Fecha</dt>
            <dd>{{animacionDetail.fecha}}</dd>
        </dl>
    </div>
    <h3>Comentarios: </h3>
    <app-calificacion-list [calificaciones]="animacionDetail.calificaciones"></app-calificacion-list>
</div>
