<div class="row mt-4">
    <h4 class="col-1">Rondas</h4>
    <button type="button" class="btn btn-success offset-8"
            routerLink="rondas/create"
            routerLinkActive="active">Add Ronda
    </button>
    <div class="row col-12 mt-2">
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>NUMERO</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let i of rondas" class="figure-caption" (click)="onSelected(i.id)">
                    <td style="cursor: pointer;">
                        <p class="figure-caption" (click)="onSelected(i.id)"> {{i.id}}</p>
                    </td>
                    <td style="cursor: pointer;">
                        <a class="figure-caption" (click)="onSelected(i.id)">{{i.numero}}</a>
                    </td>
                    <td style="cursor: pointer;">
                        <p class="figure-caption" (click)="onSelected(i.id)"> {{i.fechaInicio}}</p>
                    </td>
                    <td style="cursor: pointer;">
                        <p class="figure-caption" (click)="onSelected(i.id)"> {{i.fechaFin}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="col-12 mt-2 row">
        <div class="col">
            <div *ngIf="selectedRonda">
                <app-ronda-detail [rondaD]="selectedRonda"></app-ronda-detail>
            </div>
        </div>
    </div>
</div>
