<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar Cliente:</h2>

<form>
    <div class="form-group">
        <label for="exampleInputPassword1">Usuario</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Usuario">
      </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Comentario</label>
    <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Comentario">
  </div>
  <div class="form-group">
      <label for="exampleInputPassword1">Calificación</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Calificación (de 1 a 10)">
    </div>

  <button type="submit" class="btn btn-primary">Agregar Calificación</button>
</form>
</div>
<div class="col-3"></div>
</div>