<div class="container-fluid">
  <div class="row">
    <div class="col">
        <table class="table col-md-10 col-xs-12 mt-4">
          <thead>
            <tr>
              <th scope="col">
                Id de Propuesta
              </th> 
            </tr> 
          </thead>
          <tbody *ngFor = "let sapo of propuestas">
            <tr *ngIf = "sapo.idCliente == idCliente">
              <td routerLink="{{sapo.id}}">
                {{sapo.id}}
              </td> 
            </tr> 
          </tbody>  
        </table>
       <!-- <button class="btn btn-info" type="button" routerLink="create">Crear Propuesta</button>   --> 
    </div>
    <div class ="col-7  offset-1 col-xs-12">
      <router-outlet></router-outlet>
      
    </div>  
</div>
