<div class="panel-body">
    <div class="border">
        
     
        <dl>
            <dt>Id:</dt>
            <dd>{{calificacion.id}}</dd>
            <dt>Usuario:</dt>
            <dd>{{calificacion.usuario}}</dd>
            <dt>Comentario:</dt>
            <dd>{{calificacion.comentario}}</dd>
            <dt>Calificación:</dt>
            <dd>{{calificacion.calificacion}}</dd>
           
        </dl>
    </div>
</div>
<br>
<br>
<div class="text-center col-12">
        <button routerLink="/calificaciones/edit" class="btn btn-info">Editar Calificación</button>
    </div>
