<div class="justify-content-center col-12 row my-4" style="color: #313a87;">
    <h4 class="text-left col-2">Concursos</h4>
    <button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate}" type="button" class="btn offset-8" (click)="showHideCreate()">Crea Concurso</button>
    <div class="col-10 row container-fluid" *ngIf="showCreate">
        <app-concurso-create class="col-12 row container-fluid" (cancel)="showHideCreate()" (create)="ngOnInit()"></app-concurso-create>
    </div>
</div>
<div class="container-fluid" >
    <div class="row col-12">
        <div class="col-6">
            <div class="col">
                <div class="card-concurso" *ngFor="let i of concursos" >
                     <a class="btn btn-info" routerLink="/concursos/{{i.id}}">{{i.tema}}</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

